.profil {
    font-size: 22px;
    background-color: rgb(53, 53, 53);
    border-radius: 1rem;
    padding: 100px;
    border: 1rem solid grey;
}

.button {
    width:5%;
  }
  .button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid #5b5b5b;
    overflow:hidden;
          
    background: #830606; 
    box-shadow: 0 0 3px gray;
  }
  .button-circle:hover {
    background:#ff0000;
  }
  .button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;

          
    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
  }