.profil {
    font-size: 22px;
	background-color: black;
    border-radius: 1rem;
    padding: 100px;
    border: 1rem solid rgba(72, 72, 72, 0.76);
    
}

.mariogif {
    color: rgb(155, 32, 32);
}


h1,h3,h4{
    color: white;
}